[submodule "wiki"]
	path = wiki
	url = https://github.com/robobe/gy_gimbal.wiki.git
[submodule "gy_gimbal_controller"]
	path = gy_gimbal_controller
	url = http://github.com/robobe/gy_gimbal_controller.git
[submodule "gy_gimbal_gui"]
	path = gy_gimbal_gui
	url = http://github.com/robobe/gy_gimbal_gui.git
